---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: manager-role
rules:
- apiGroups:
  - gateway.envoyproxy.io/v1alpha1
  resources:
  - securitypolicies
  verbs:
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - gateway.networking.k8s.io/v1
  resources:
  - gateways
  - grpcroutes
  - httproutes
  verbs:
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - networking.k8s.io/v1
  resources:
  - networkpolicies
  verbs:
  - get
  - list
  - watch
